html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/********************************************************/
/*Custom CSS*/
.center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%
}

.center-div-45 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%
}

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-hover:hover {
    cursor: pointer;
    opacity: 0.8;
}

.custom-shadow {
    -webkit-box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2);
}

.bg-light-gray {
    background-color: #f4f8fb;
}

.bg-black {
    background-color: #000;
    color: #fff !important;
}