@model IEnumerable<DriveShare.ViewModels.FileDataViewModel>

@{
    ViewData["Title"] = "BrowseFiles";
}

<h4 class="text-secondary my-5">Browse All Files</h4>

@if (@Model.Count() < 1)
{
    <div class="center-div">
        <div class="text-center">
            <h3 class="text-secondary">There is no files found.</h3>
        </div>
    </div>
}
else
{
    <partial name="_FileCardsPartial" model="Model"/>
}