@model IEnumerable<DriveShare.ViewModels.FileDataViewModel>

@{
    ViewData["Title"] = "BrowseFiles";
}

<h4 class="text-secondary my-5">@Localizer["BrowseFiles"]</h4>

@if (@Model.Count() < 1)
{
    <div class="center-div">
        <div class="text-center">
            <h3 class="text-secondary">@Localizer["Nofiles"]</h3>
        </div>
    </div>
}
else
{
    <partial name="_FileCardsPartial" model="Model"/>
}