@{
    ViewData["Title"] = "Home Page";
}

<style>
    .center-div-home{
        position: absolute;
        top:45%;
        left:50%;
        transform: translate(-50%, -50%);
        width: 65%
    }
</style>

<section>
    <div class="center-div-home">
        <div class="text-center mb-4">
            <h1 class="mb-0">DriveShare</h1>
            <p>Your favourate file uploader</p>
        </div>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-text" id="inputGroup-sizing-default">Search</span>
        </div>
    </div>
</section>