@model IEnumerable<DriveShare.ViewModels.FileDataViewModel>

@{
    ViewData["Title"] = "Home Page";
}

@*<style>
    .center-div-home {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%
    }
    </style>*@

<section>
    <div style="margin: 150px 0 150px 0;">
        <div class="text-center mb-4">
            <h1 class="mb-0">DriveShare</h1>
            <p>Your favourate file uploader</p>
        </div>
        <div class="d-flex justify-content-center">
            <form method="post" asp-action="SearchFiles" class="col-12 col-lg-8 col-xl-8">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" name="SearchValue">
                    <button class="btn btn-primary" type="submit">@Localizer["Search"]</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <h2 class="text-center">@Localizer["PopularDownloads"]</h2>
        <hr class="my-5"/>
        <partial name="_FileCardsPartial" model="Model" />
    </div>
</section>