@model DriveShare.ViewModels.UploadFileViewModel

@{
    ViewData["Title"] = "UploadFile";
}

<div class="container">
    <div class="center-div-45">
        <h3 class="text-center">@Localizer["UploadFile"]</h3>
        <form asp-controller="MyFiles" asp-action="UploadFile" enctype="multipart/form-data" method="post">
            <div class="d-flex justify-content-center">
                <div class="form-group col-4 my-4">
                    <input asp-for="File" class="form-control" onchange="selectFile()" type="file" id="selectFileInput" />
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <input type="submit" value="@Localizer["Upload"]" class="btn btn-primary me-2" id="submitBtn" disabled />
                <a asp-controller="MyFiles" asp-action="Index" class="btn btn-outline-secondary">@Localizer["Backtolist"]</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
    function selectFile(){
        let selectFileInput = document.getElementById('selectFileInput');
        let submitBtn = document.getElementById('submitBtn');

        submitBtn.disabled = (selectFileInput.files.length > 0) ? false : true;
    }
</script>
}
